<a href="https://colab.research.google.com/github/syno3/Data-science-portfolio/blob/main/social_media.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import files
uploaded = files.upload()

Saving social_media.csv to social_media.csv

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [27]:
df = pd.read_csv('social_media.csv')
df.head()

                                            Question  ... Percentage
0  What social platform has influenced your onlin...  ...      0.205
1  What social platform has influenced your onlin...  ...      0.342
2  What social platform has influenced your onlin...  ...      0.032
3  What social platform has influenced your onlin...  ...      0.067
4  What social platform has influenced your onlin...  ...      0.354

[5 rows x 6 columns]

In [28]:
df.describe

<bound method NDFrame.describe of                                                Question  ... Percentage
0     What social platform has influenced your onlin...  ...      0.205
1     What social platform has influenced your onlin...  ...      0.342
2     What social platform has influenced your onlin...  ...      0.032
3     What social platform has influenced your onlin...  ...      0.067
4     What social platform has influenced your onlin...  ...      0.354
...                                                 ...  ...        ...
1445  What social platform has influenced your onlin...  ...      0.180
1446  What social platform has influenced your onlin...  ...      0.297
1447  What social platform has influenced your onlin...  ...      0.037
1448  What social platform has influenced your onlin...  ...      0.074
1449  What social platform has influenced your onlin...  ...      0.412

[1450 rows x 6 columns]>

In [23]:
df.shape

(1448, 5)

In [24]:
df.isnull().sum()

1
Mobile            0
Global results    0
Instagram         0
916               0
0.342             0
dtype: int64

In [25]:
df.count(axis=0)

1
Mobile            1448
Global results    1448
Instagram         1448
916               1448
0.342             1448
dtype: int64

In [33]:
list(df.columns)

['Question',
 'Segment Type',
 'Segment Description',
 'Answer',
 'Count',
 'Percentage']

In [79]:
dropped = df.drop(['Question', 'Answer', 'Percentage'], axis=1)

In [80]:
grouped = dropped.groupby("Segment Type")
grouped.sum()

              Count
Segment Type
Custom        43241
Gender         2676
Mobile         2676
University     2175
Web               2

In [81]:
df.Count.unique()

array([548, 916,  86, 179, 947,   0,   2, 222, 535,  29,  57, 271, 326,
       380,  56, 122, 678,   1,  21,   5,  18,   4,   3,  10,  15,  11,
        13,   6,  14,   8,  17,   9,  12,  25,  30,  27,  47,  16,  35,
        44,  38,  32,  23,   7,  64,  75,  95,  26,  34,  24,  84,  19,
        54,  96, 120, 174,  52, 283,  40,  76,  61, 105,  20, 168,  37,
        22,  70,  83, 130,  71, 149,  42, 178,  41, 111, 144,  45, 110,
       117, 250,  69, 304,  87, 159,  50, 181, 197, 285, 291,  39,  58,
        51, 172, 231, 292,  68, 150,  65,  53, 124, 128, 245, 325, 504,
        99, 552, 148, 258,  60, 279, 362, 579, 108, 596, 104, 232,  97,
       107,  28,  48,  62, 113,  78,  79,  33,  49,  59,  46,  36, 167,
       321, 443, 198, 299,  80, 180,  72,  43,  74, 186, 284, 241, 264,
       347, 502, 571,  98, 164, 270, 313, 546,  93, 467, 267, 368, 356,
       157, 156, 145, 205, 322,  31,  55,  66,  81,  90, 320, 499, 574,
        92, 123, 112, 160, 183, 147, 239, 274,  88, 143, 781, 151, 820,
       106, 476, 132, 213, 269, 387,  85, 381, 114, 129, 221, 262, 191,
       352, 498, 102, 573, 215, 354, 492])

In [82]:
grouped.head()

    Segment Type     Segment Description  Count
0         Mobile          Global results    548
1         Mobile          Global results    916
2         Mobile          Global results     86
3         Mobile          Global results    179
4         Mobile          Global results    947
5            Web                     Web      0
6            Web                     Web      0
7            Web                     Web      0
8            Web                     Web      0
9            Web                     Web      2
10        Gender           Female voters    222
11        Gender           Female voters    535
12        Gender           Female voters     29
13        Gender           Female voters     57
14        Gender           Female voters    271
20    University  University of Delaware      1
21    University  University of Delaware      1
22    University  University of Delaware      0
23    University  University of Delaware      0
24    University  University of Delaware      1
890       Custom  guys, 5'5" girls) Tall     54
891       Custom  guys, 5'5" girls) Tall     96
892       Custom  guys, 5'5" girls) Tall      7
893       Custom  guys, 5'5" girls) Tall     17
894       Custom  guys, 5'5" girls) Tall    120